body {
    background-color: #f2f2f2;
    font-family: "Yusei Magic", sans-serif;
}

.container-fluid {
    padding: 10px 20px;
    justify-content: center;
}

.header {
    /*background-color: #af3628;*/
    background-color: #b40000;
    padding: 30px 20px;
    text-align: center;
}

h1, .subtitle {
    color: white;
}

.row {
    justify-content: center;
    
}

#border1 {
    background-image: url(border1small.png);
}

#border2 {
    background-image: url(border2small.png);
}

.image {
    background-repeat: repeat-y;
    background-position: top center;
    background-size: 75%;
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }


